body{
    padding: 1em;
}

h1{
    text-align: center;
    padding: 1em 0;
}

img{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 10em !important;
}

button{
    display: block;
    margin: 0 auto;
    padding: 1em 0;
    width: 50%;
    background: transparent !important;
    border: none;
    font-size: larger;
    font-weight: bolder;
}

button:hover{
    color: blue;
    border: none !important;
}

p{
    text-align: center;
    padding: 1em;
    display: none;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

